/* ARCHIVO: src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuración base estándar */
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  @apply bg-white text-zinc-900 dark:bg-black dark:text-zinc-50;
}

/* Scrollbar personalizado (CSS estándar para Webkit) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background-color: #27272a;
  border-radius: 9999px;
  border: 2px solid #09090b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f3f46;
}